body {
    height: 2000px;
    max-width: 100%;
    display: flex;
    flex-direction: column;   
    /* justify-content: center; */
    align-items: center;
    padding: 50px 50px;
    box-sizing: border-box;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
    nav a {
       text-decoration: none;
       color: #000;
    }